<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>412957164960-c4b3ednfj66qmbdog5lt65put6hdpqpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.412957164960-c4b3ednfj66qmbdog5lt65put6hdpqpq</string>
	<key>API_KEY</key>
	<string>AIzaSyBpRsBU4if1tZA3eiG8d6GGbULFlR89oQA</string>
	<key>GCM_SENDER_ID</key>
	<string>412957164960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arjun.firebaseapp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-f618e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-f618e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412957164960:ios:f6394a582c8f29de0410c5</string>
</dict>
</plist>